@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: local('Poppins'), url('./fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Poppins', Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEDED;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}